body{
  margin:0;
background:  url('/mjpath/image1.jpg') 0 0 no-repeat;
background-size: cover;
justify-content: center;
align-items: center;
height: 100vh;
}

h1{
  text-align: center;
}

.navbar{
  list-style: none;
  background: #444941;
  padding: 0;
  margin: 0;
  overflow: hidden
}

.navbar a{
 color: white;
 text-decoration: none;
 padding: 15px;
 display: block;
 text-align: center;
}
.navbar a:hover{
  background:#6F746D;
 }
.navbar li{
 float: left;
}

img{
  align-items: center;
}
